@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8 align-item-center">
                <div class="border">
                    <h3 class="bg-gray p-4">Login Now</h3>
                    <div asp-validation-summary="ModelOnly" class="text-danger ml-4"></div>
                    <form id="account" method="post">
                        <fieldset class="p-4">
                            <div class="form-floating">
                                <input asp-for="Input.Email" class="form-control mb-3" placeholder="Email" autocomplete="username" aria-required="true" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating">
                                <input asp-for="Input.Password" class="form-control mb-3" placeholder="Password" autocomplete="current-password" aria-required="true" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="checkbox loggedin-forgot ml-3">
                                <label asp-for="Input.RememberMe" class="form-label">
                                    <input class="checkbox form-check-input" id="keep-me-logged-in" asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary font-weight-bold mt-3">Log in</button>
                            <a class="btn btn-primary font-weight-bold mt-3" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register Now</a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}