<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item menu-open">
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">
                        <i class="fas fa-bars"></i>
                        <p class="ml-1">User Panel</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="nav-link">
                        <i class="fas fa-bars"></i>
                        <p class="ml-1">Home</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="User" asp-action="All" class="nav-link">
                        <i class="fas fa-bars"></i>
                        <p class="ml-1">Users</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Trip" asp-action="All" class="nav-link">
                        <i class="fas fa-bars"></i>
                        <p class="ml-1">Trips</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Car" asp-action="All" class="nav-link">
                        <i class="fas fa-bars"></i>
                        <p class="ml-1">Cars</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>