@using Microsoft.AspNetCore.Identity
@using SharedTrip.Infrastructure.Data.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="navbar navbar-expand-lg navbar-light navigation">
    <h2 class="h1Title">Shared Trip</h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto main-nav">
            @if(SignInManager.IsSignedIn(User)){
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Trip" asp-action="All">Trips</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Trip" asp-action="Create">Create a Trip</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Trip" asp-action="MyTrips">My Trips</a>
                </li>
            }

            @if (User.IsInRole("Administrator"))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Panel</a>
                </li>
            }
        </ul>
    </div>
</div>